/*  GOOGLE FONTS   */

@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

/* CORES */

:root{
    --cor-principal: #000;
    --cor-segundario: #ffff;
    --cor-terciaria: #22d4fd;
    --cor-quarta: #272727;

    /* FONTES */

    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

/*  PROJECTS */
* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-principal);
    color: var(--cor-segundario);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: #22d4fd;
    
}

.cabecalho__menu__link:hover{
    color: var(--cor-segundario);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.titulo-destaque:hover {
    color: var(--cor-segundario);
}


 .apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.titulo_conteudo {
    font-size: 36px;
    font-family: var(--fonte-principal);
}

.texto_conteudo {
    font-size: 20px;
    font-family: var(--fonte-secundaria);
}

img {
    width: 467.71px;
    height: 532px;
}

.apresentacao_links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
   
}

.apresentacao_links_subtitulo {
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 24px;
}

.apresentacao_links01 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 378px;
    text-align: center;
    border: 2px solid var(--cor-terciaria);
    border-radius: 90px;
    font-size: 18px;
    padding: 22px 0;
    text-decoration: none;
    color: var(--cor-segundario);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
}

.apresentacao_links01:hover{
    background-color: var(--cor-quarta);
}
.icone-imagem {
    width: 32px;
    height: 32px;
}

.rodape {
    color: var(--cor-principal);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.apresentacao_links__{
    display: flex;
    gap: 16px;
    justify-content: right;
    align-items: right;
    position: relative;
    right: -490px;
    top: -80px;
}

.titulo_conteudo_subtitulo {
    font-size: 20px;
    font-family: var(--fonte-principal);
}

.lista_de_conteudos01 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.lista_de_conteudos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.apresentacao_links___ {
    display: flex;
    gap: 16px;
    justify-content: right;
    align-items: right;
    position: relative;
    right: -490px;
    top: -120px;
}

.subtitulo-about {
    font-family: var(--fonte-secundaria);
}