/*  GOOGLE FONTS   */

@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

/* CORES */

:root{
    --cor-principal: #000;
    --cor-segundario: #ffff;
    --cor-terciaria: #22d4fd;
    --cor-quarta: #272727;

    /* FONTES */

    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

/*  PROJECTS */
* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-principal);
    color: var(--cor-segundario);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.menu{
    display: flex;
    gap: 80px;
}

.menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: #22d4fd;
    
}

.menu__link:hover{
    color: var(--cor-segundario);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.titulo-destaque:hover {
    color: var(--cor-segundario);
}


 .apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.apresentacao__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-principal);
}

.apresentacao__texto{
    font-size: 1.25rem;
    font-family: var(--fonte-secundaria);
}

img {
    width: 467.71px;
    height: 532px;
}

.apresentacao-imagem img {
    width: 50%;
}


.redes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
   
}

.redes__titulo {
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.redes__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 378px;
    text-align: center;
    border: 2px solid var(--cor-terciaria);
    border-radius: 90px;
    font-size: 1.12rem;
    padding: 22px 0;
    text-decoration: none;
    color: var(--cor-segundario);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
}

.redes__link:hover{
    background-color: var(--cor-quarta);
}

.icone {
    width: 32px;
    height: 32px;
}

/* Pagina sobre me */
.redes__dos__links{
    display: flex;
    gap: 16px;
    justify-content: right;
    align-items: right;
    position: relative;
    right: -490px;
    top: -80px;
}


.apresentacao__subtitulo {
    font-family: var(--fonte-secundaria);
}

/* Pagina Curriculo */

.lista__conteudos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lista_de_conteudos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
   
/* Rodape */
.rodape {
        color: var(--cor-principal);
        background-color: var(--cor-terciaria);
        padding: 24px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
}

@media (max-width: 1200px){
    .cabecalho {
        padding: 10% ;
    }
    .menu {
        justify-content: center;
    }

    .menu__link{
        font-size: 1.2rem;
    }
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5% 10%;
    }
    .apresentacao__conteudo {
        width: auto;
    }    
    
    .redes__dos__links {
        position: relative;
        right: 35%;
        top: -1080px;
    }

    .rodape {
        font-size: 0.9rem;
    }
}